:root {
  --main-color: #087F5B;
  --gray-color: #343A40;
  --gray-color-100: #DDDDDD;
  --gray-color-300: #555555;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} 
  
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--gray-color);
  font-size: 1.6rem;
  line-height: 1;
}

.accordion {
  width: 70rem;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
  align-items: center;
}

.number,
.text {
  font-size: 2.4rem;
  font-weight: 500;
}

.number {
  color: var(--gray-color-100);
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: var(--main-color);
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.hidden-box ul {
  color: var(--gray-color-300);
  margin-left: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/*
  OPEN STATE
*/

.open {
  border-top: 4px solid var(--main-color);
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: var(--main-color);
}